.App {
  margin:10px;
  font-family: Georgia;
  margin-top:20px;
}
.route{
  display:flex;
  justify-content: space-around;
  background-color: pink;
  padding:10px;
}
span{
  font-size:20px;
}
.link{
	color:black;
	text-decoration : none;
}
