.App {
  text-align: center;
}
.appdark{
  background: linear-gradient(to bottom , black , #241f4f);
  height:100vh;
  width:100vw;
  color:white;
}
.theme_btn{
  margin:20px;
  color:black;
  border-radius: 4px;
  font-size: 17px;
  font-family: Georgia;
  padding : 5px 5px 5px 5px;
}
.dark{
  color: white;
  border:2px solid white;
  background : linear-gradient(to bottom , #292638 , #615699);
}
.todo{
  margin-top:20px;
  margin-bottom:20px;
}
.input{
  font-size:18px;
  font-family: Georgia;
  padding:7px;
  margin-right:10px;
}
.btn{
  font-size:18px;
  font-family: Georgia;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
}
.card{
  width: 300px;
  height:150px;
  justify-content: center;
  margin:auto;
  border : 3px solid black;
  margin-top:20px;
  border-radius:5px;
  box-shadow: 3px 3px 7px black;
}
.card{
  border : 3px solid white;
}
.todo_title{
  margin-top:0px;
  margin-left: 20px;
  font-size: 25px;
  margin-bottom:-15px;
  text-align: left;
}
.todo_input{
  margin-bottom:20px;
  font-size:16px;
  padding: 5px;
  font-family: Georgia;
}
.todo_btn{
  min-width:50px;
  font-size:17px;
  border-radius:4px;
  font-family: Georgia;
  padding:5px;
  align-items: center;
  margin:auto;
  margin-left:10px;
  cursor:pointer;
}
.todo_chkbx{
  margin-right:20px;
  margin-left:10px;
}
.todo_done{
  margin-bottom:20px;
  margin-top:20px;
}