.App {
  text-align: center;
  width:100%;
  height:100%;
  background-size: cover;
  opacity:1;
}
.appdark{
  opacity:1;
  min-height:100vh;
  color:white;
  background-color: #18191c !important;
}
.theme_btn{
  margin:20px;
  color:black;
  border-radius: 4px;
  font-size: 17px;
  font-family: Georgia;
  padding : 5px 5px 5px 5px;
  background-color: #f7e4b5;
  cursor:pointer;
  box-shadow:2px 2px 5px black;
}
.dark{
  color: white;
  border:2px solid white;
  background-color: transparent;
  box-shadow:2px 2px 5px white;

}
.todo{
  margin-top:20px;
  margin-bottom:20px;
}
.input{
  font-size:18px;
  font-family: Georgia;
  padding:10px;
  margin-right:10px;
  background-color: transparent;
  border-radius: 5px;

}
.inp_dark{
  background-color: transparent;
  color:white;
  border:0.5px solid white;
}
.btn{
  font-size:18px;
  font-family: Georgia;
  background-color: transparent;
  padding: 8px;
  border-radius: 5px;
  box-shadow:2px 2px 5px black;
  cursor:pointer;
}
.btn_dark{
  color:white;
  border: 1.5px solid white;
  box-shadow:1px 1px 5px white;

}
.card{
  width: 300px;
  height:150px;
  justify-content: center;
  margin:auto;
  border : 3px solid black;
  margin-top:20px;
  border-radius:5px;
  box-shadow: 3px 3px 7px black;
  /*margin-bottom:5px;*/
}
.card{
  border : 3px solid white;
}
.card_dark{
  background: linear-gradient(to bottom right, #0f2d40 ,#0c1430);
  box-shadow: 2px 2px 5px white;

}
.todo_title{
  margin-top:0px;
  margin-left: 20px;
  font-size: 25px;
  margin-bottom:-15px;
  text-align: left;
}
.todo_input{
  margin-bottom:20px;
  font-size:16px;
  padding: 5px;
  font-family: Georgia;
  background-color: #f5dfb0;
}
.todo_btn{
  min-width:50px;
  font-size:17px;
  border-radius:4px;
  font-family: Georgia;
  padding:5px;
  align-items: center;
  margin:auto;
  margin-left:10px;
  cursor:pointer;
  background-color: #f7e4b5;
  box-shadow:2px 2px 5px black;


}
.todo_chkbx{
  margin-right:20px;
  margin-left:10px;
}
.todo_done{
  margin-bottom:20px;
  margin-top:20px;
}