body{
	display:flex;
	justify-content: center;
	font-family:Georgia;
	font-weight: bold;
	color:white;
	background-image:url("https://data.whicdn.com/images/309891017/original.gif");
}


.grid{
	display: grid;
	width:50rem;
	grid-template-columns: repeat(6, 8rem);
	grid-auto-rows: 4rem;
	justify-content: center;
	column-gap:4px;
	grid-row-gap: 4px;
}

.grid2{
	display: grid;
	width:50rem;
	grid-template-columns: repeat(2, 9rem);
	grid-auto-rows: 3rem;
	justify-content: center;
	text-align:center;
}

.items{
	background-color: rgba(240, 91, 173,0.5);;
 	border:3px solid pink;
  	border-radius: 8px;
  	padding-top: 10px;
  	box-shadow:5px 5px 8px rgba(105, 100, 103,1);
}
.items:hover{
	cursor: pointer;
	background-color: rgba(240, 91, 173,0.5);
}

.itemclicked{
	background-color: rgba(240, 91, 173,0.1);
	border:none;
}