.memeImg{
	height:300px;
	width:300px;
	border:1px solid black;
	margin-bottom: 15px;
	border-radius:10px;
}
.button{
	text-align: center;
}
.meme1{
	display:inline-block;
	margin:10px 30px;
}
.box{
	margin:10px;
	border-radius:5px;
	height:25px;
	width:170px;
	font-family: Georgia;
	border:3px solid purple;
}
.cbutton{
	margin:10px;
	border-radius:5px;
	height:30px;
	min-width:100px;
	font-family: Georgia;
}