.card{
	height:300px;
	width: 600px;
	border:2px solid black;
	margin:auto;
	padding:5px;
	margin-top:30px;
	display:flex;
	flex-direction: column;
}
.card_nav{
	display:inline-flex;
}
.post_dp{
	border-radius: 100%;
	border:2px solid black;
	height: 40px;
	width:40px;
	text-align: center;
	margin-left: 10px;
}
.post_user{
	font-size: 18px;
	font-family: Georgia;
	margin-left: 15px;
	margin-top: 25px;
}
.post_dot{
	margin:auto;
	justify-content:space-between;
}